{% extends "::layout.html.twig" %}

{% block body %}
    {% include "WCPC2K18Bundle:Base:navbar.html.twig" %}
    <div class="container-fluid">
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}
