{% extends "WCPC2K18Bundle:Base:layout.html.twig" %}
{% import 'WCPC2K18Bundle:Base:macros.html.twig' as wcpc %}


{% block content %}
    <div class="col-lg-12">
        <div class="card mt-3">
            <div class="card-header">
                <i class="far fa-calendar"></i> Utilisateurs enregistrés <span class="badge badge-light">{{ users | length }}</span>
            </div>
            <div class="card-body">
                
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ wcpc.username(user) }}</td>
                                <td>{{ user.crew.name }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
