{% extends "WCPC2K18Bundle:Base:layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% include 'WCPC2K18Bundle:Home/Panes:home_next_games_pane.html.twig' %}
        </div>
        <div class="col-lg-4">
           {% include 'WCPC2K18Bundle:Home/Panes:home_leaderboard_general_pane.html.twig' %}
        </div>
    </div>
{% endblock content %}
