{% extends 'WCPC2K18Bundle:Base:layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col mt-3">
        <div class="alert alert-primary">
            <i class="fas fa-ruler-combined fa-2x pr-3"></i> Cette page récapitule les modalités d'inscription ainsi que les règles
        </div>
    </div>
</div>


{% endblock content %}
