{% import 'WCPC2K18Bundle:Base:macros.html.twig' as wcpc %}

<div class="card mt-3">
    <div class="card-header">
        <i class="far fa-calendar"></i> Pronostics
    </div>
    <div class="card-body">
        {% if game.goalsHome is null %}
            <div class="alert alert-warning">Les pronostics de tous les joueurs seront
            affichés une fois la rencontre terminée.</div>
        {% else %}
        {% endif %}
        
    </div>
</div>
