{% import 'WCPC2K18Bundle:Base:macros.html.twig' as wcpc %}
 
<div class="card mt-3">
    <div class="card-header">
        <i class="far fa-calendar"></i> Résumé de la rencontre
    </div>
    <div class="card-body">
                {{ wcpc.comingNextAlert() }}
    </div>
</div>
